@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Edge */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

button{
  cursor: pointer;
}